form {
    position: relative;
    border: 1px solid rgb(55, 154, 224);
    border-radius: 10px;
    padding: 2px;
    height: 43px;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 7px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: rgb(55, 154, 224);
}

#icon-current {
    width: 150px;
}

#search {
    width: 97%;
    border: none;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
}

#search:focus {
    background-color: transparent;
}