.card-head {
    background: rgba(11, 115, 241, 0.2);
    padding: 5px 15px 1px 15px;
    height: 40px;
}

.header-text {
    font-weight: 600;
    font-size: 18px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .header-text {
        font-size: 15px;
    }
}