* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 60px 0;
  background: #deeaf6;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  position: relative;
}

h2 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  body {
    height: 100%;
  }
}